# Idea Project
.idea/
# Python
__pycache__
# virtual environment
.venv
# RDS setting
/config/my_settings.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

aws-elastic-beanstalk-cli-setup
.ebextensions
