body {
    margin: 0;
}

.write-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.write-form {
    width: 800px;
    border: #4aba96 3px solid;
    padding: 30px 50px;
    background-color: white;
}