



/* desktop */



.feed-header {
    display: flex;
    justify-content: center;
}
.popular-feed, .new-feed, .skeleton {
    display: flex;
    justify-content: center;
    /*margin: 0 150px;*/
}

.search-feed-img {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-feed-img img {
     width: 150px;
     height: 250px;
     border-radius: 20px;
     object-fit: cover;
     overflow: hidden;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     margin: 0 8px;
     margin-bottom: 20px;
}
 .feed-img {
     display: flex;
     max-width: 1500px;
     flex-wrap: wrap;
     justify-content: center;
     /*margin: 0 auto;*/
 }
 .feed-img img {
     width: 223px;
     height: 300px;
     border-radius: 20px;
     object-fit: cover;
     overflow: hidden;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     margin: 0 8px;
     margin-bottom: 20px;

 }



h3 {
    color: #fd6801;
    text-align: center;
    text-decoration: underline;
    text-underline-position:under;
    margin: 50px 0;
}



    #scrollTopPc {
      display: flex;
      position: fixed;
      bottom: 64px; /* 윗쪽 끝에서부터의 거리 */
      right: 35px; /* 오른쪽 끝에서부터의 거리 */
      cursor: pointer;
      z-index: 99;
    }

    #scrollTopMob {
        display: none;
    }


.main {
    display: flex;
    justify-content: center;
}

.spinner {
        margin: 0 auto;
        display: block;
        width: 150px;
    }

#skeleton-off {
    display: none;
}

@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.search {
  width: 300px;
  position: relative;
}
.search:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'FontAwesome';
  content: '\f002';
  background: #48c789;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
}

.searchTerm {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #48c789;
  padding: 10px;
  height: 40px;
  border-radius: 20px;
  outline: none;
}

.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

