
/* mobile */

@media screen and (max-width:800px) {


    .feed {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-left: 30px;
    }

    .feed img {
        border-radius: 10px;
    }

    button {
        padding: 9px 25px;
        background-color: rgb(255, 136, 60);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        color: #edf0f1;
        font-size: 18px;
    }

    #date, #username {
        text-align: right;
    }

    #username {
        margin-top: -20px;
    }

    footer {
        box-sizing: border-box;
        background-image: url('../img/footer.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

    }

    .m-nav-link {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .m-nav-link img {
        margin-top: 15px;
        margin-right: 10px;
        padding: 0 10px;
        width: 30px;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }

    #contents {
        margin-bottom: 100px;
    }

    .footer {
        display: none;
    }

}


/* desktop */
@media screen and (min-width:801px) {

    @import url('http://fonts.googleapis.com/css?family=Monserrat:500');



    li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
    }
    #feed-title {
        padding: 9px 25px;
        border: none;
        border-radius: 50px;
        color: #4aba96;
        font-weight: bold;
        margin-bottom: 30px;

    }

    button {
        padding: 9px 25px;
        background-color: rgb(255, 136, 60);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    button:hover {
        background-color: rgb(253, 104, 1);
    }

    .feed {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-left: 500px;
        margin-right: 500px;
    }

    .feed img {
        width: 600px;
        height: 500px;
        border-radius: 20px;
        object-fit: cover;
        overflow: hidden;
        align-items: center;
    }





    #date, #username {
        text-align: left;
    }

    #username {
        margin-top: -20px;
    }

    .feed-icon-default, .feed-icon-filled {
        text-align: right;
        padding-right: 10px;
        margin-bottom: 20px;
    }
    .fi {
        font-size: 20px;
        color: #4aba96;
        margin-right: 10px;
    }

    #contents {
        margin-bottom: 100px;
    }
    .comment {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .commentview {
        display: flex;
        flex-direction: column;
    }
    #userprofile, #commentuserprofile {
        width: 50px;
        height: 50px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }
    .commentuser {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .commenticon, .feed-icon {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 30px;
    }
    .commenticon button{
        padding: 5px 5px;
        font-size: 10px;
        color: white;
        margin-right: 10px;
    }

    .commentwrite button {
        padding: 10px 10px;
        font-size: 14px;
        color: white;
    }
    #comment {
        width: 300px;
        height: 30px;
    }

    footer {
        box-sizing: border-box;
        background-image: url('../img/footer.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

    }

    .m-nav-link {
        display: flex;
        justify-content: center;
    }
    .m-nav-link img {
        display: none;
    }

    .footer {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .footer h4 {
        color: #edf0f1;
    }

}