
/* mobile */

@media screen and (max-width:800px) {


    body{
        box-sizing: border-box;
        background-image: url('../img/header.png');
        background-size: 300%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    header {

    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 20px;
    }
    .nav-link {
        display: none;
    }

    .sign {
        display: none;
    }

    .logo {
        width: 30%;
        height: 30%;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }

    .m-nave-link img {
        margin-top: 15px;
        margin-right: 10px;
        padding: 0 10px;
        width: 30px;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }
    .feed {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-left: 30px;
    }

    .feed img {
        border-radius: 10px;
    }

    button {
        padding: 9px 25px;
        background-color: rgb(255, 136, 60);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        color: #edf0f1;
        font-size: 18px;
    }

    #date, #username {
        text-align: right;
    }

    #username {
        margin-top: -20px;
    }

    footer {
        box-sizing: border-box;
        background-image: url('../img/footer.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

    }

    .m-nav-link {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .m-nav-link img {
        margin-top: 15px;
        margin-right: 10px;
        padding: 0 10px;
        width: 30px;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }

    #contents {
        margin-bottom: 100px;
    }

    .footer {
        display: none;
    }

}


/* desktop */
@media screen and (min-width:801px) {

    @import url('http://fonts.googleapis.com/css?family=Monserrat:500');

    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-image: url('../img/header.png');
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 1;
    }

    li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
        z-index: 10;
    }

    .logo {
        cursor: pointer;
    }

    .logo {
        width: 120px;
    }

    .m-nave-link {
        display: none;
    }

    .nav-link {
        list-style: none;
    }


    .nav-link li {
        display: inline-block;
        padding: 0 20px;
    }

    .nav-link li a {
        transition: all 0.3s ease 0s;
    }

    .nav-link li a:hover {
        color: #ffd433;
    }

    button {
        padding: 9px 25px;
        background-color: rgb(255, 136, 60);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    button:hover {
        background-color: rgb(253, 104, 1);
    }

    .feed {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-left: 500px;
        margin-right: 500px;
    }

    .feed img {

        border-radius: 20px;
    }





    #date, #username {
        text-align: right;
    }

    #username {
        margin-top: -20px;
    }

    #contents {
        margin-bottom: 100px;
    }

    footer {
        box-sizing: border-box;
        background-image: url('../img/footer.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

    }

    .m-nav-link {
        display: flex;
        justify-content: center;
    }
    .m-nav-link img {
        display: none;
    }

    .footer {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .footer h4 {
        color: #edf0f1;
    }

}