

/* desktop */

    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-image: url('/static/img/bg.png');
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 1;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;
    }

    .logo img {
        width: 20%;
    }

    .category {
        display: flex;
        list-style: none;
        padding-left: 0;
    }

    .category li {
        padding: 8px 15px;
    }

    .category a:hover {
        color: #f5cf39;
    }

    button {
        padding: 7px 20px;
        background-color: rgb(255, 136, 60);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        color: #ffffff;
        font-size: 16px;
    }

    button:hover {
        background-color: #fd6801;
    }

    .navbar-toggle, .navbar-logout {
        display: none;
        position: absolute;
        right: 32px;
        font-size: 20px;
        color: white;
    }
