/* mobile */

@media screen and (max-width:768px) {


    body {
        box-sizing: border-box;
        background-image: url('/static/img/header.png');
        background-size: 300%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        z-index: 1;
    }


    .header {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 20px;
        align-items: center;
    }

    .nav-link { display: none; }
    .sign { display: none; }

    .logo {
        width: 30%;
        height: 30%;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }

    .m-nav-link img {
        margin-top: 15px;
        margin-right: 10px;
        padding: 0 10px;
        width: 30px;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }


    .m-nav-menu {
        display: none;
        flex-direction: column;
        list-style: none;
        width: 100%;
        margin-top: 20px;
    }

    .m-nav-menu a {
        text-decoration: none;
        color: white;
    }

    .m-nav-menu li {
        padding: 10px 0;
        text-align: center;
    }

    .m-nav-menu li, a:hover {
        color: #ffd433;
    }

    .m-nav-menu.active {
        display: flex;
    }
    .logo.active {
        margin-top: -145px;
    }

    .feed-header { display: flex; justify-content: center; }

    button {
        padding: 20px 50px;
        background-color: rgb(255, 136, 60);
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        color: #edf0f1;
        font-size: 18px;
    }


    .profile {
        margin-top: 150px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .profile img {
        width: 100px;
        border-radius: 50%;
    }

    .userfeed {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 200px;
    }

    .feed-img {
        display: flex;
        flex-direction: row;
    }

    .usercreated {
        margin-bottom: 50px;
    }



    footer {
        box-sizing: border-box;
        background-image: url('/static/img/footer.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

    }

    .m-nav-link {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .m-nav-link img {
        margin-top: 15px;
        margin-right: 10px;
        padding: 0 10px;
        width: 30px;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }

    .footer {
        display: none;
    }

}




/* desktop */
@media screen and (min-width:769px) {

    @import url('http://fonts.googleapis.com/css?family=Monserrat:500');

    button {
        padding: 7px 20px;
        background-color: rgb(255, 136, 60);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    button:hover {
        background-color: rgb(253, 104, 1);
    }

    #profileedit {
        font-size: 14px;
    }

    .content-wrapper {
        border: #a6a6a6 1px solid;
        background-color: white;
        width: 800px;
        border-radius: 20px;
        padding: 30px 30px;
    }

    .profile {
        margin: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .profile img {
        margin-top: 20px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
    }

    .userfeed {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 400px;
        margin-bottom: 200px;
    }

    .feed-img {
        display: flex;
        flex-direction: row;
    }

    #scrollTopPc {
      display: flex;
      position: fixed;
      bottom: 64px; /* 윗쪽 끝에서부터의 거리 */
      right: 35px; /* 오른쪽 끝에서부터의 거리 */
      cursor: pointer;
      z-index: 99;
    }

    #scrollTopMob {
        display: none;
    }

    h3 {
        color: #4d4d4d;
        font-size: 14px;
    }


    .grid-container img {
      width: 100%; /* need to overwrite inline dimensions */
      height: auto;
    }
    h2 {
      margin-bottom: .5em;
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 1em;
    }


    /* hover styles */
    .location-listing {
      position: relative;
    }

    .location-image {
      line-height: 0;
      overflow: hidden;
    }

    .location-image img {
      filter: blur(0px);
      transition: filter 0.3s ease-in;
      transform: scale(1.1);
      border-radius: 20px;
    }

    .location-title {
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none;
      z-index: 1;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .5s;
      background: rgba(90,0,10,0.4);
      color: white;

      /* position the text in t’ middle*/
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .location-listing:hover .location-title {
      opacity: 1;
    }

    .location-listing:hover .location-image img {
      filter: blur(2px);
      border-radius: 20px;
    }


    /* for touch screen devices */
    @media (hover: none) {
      .location-title {
        opacity: 1;
      }
      .location-image img {
        filter: blur(2px);
        border-radius: 20px;
      }
    }



    footer {
        box-sizing: border-box;
        background-image: url('/static/img/footer.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

    }

    .m-nav-link {
        display: flex;
        justify-content: center;
    }
    .m-nav-link img {
        display: none;
    }

    .footer {
        display: none;
    }



}



