

    @import url('http://fonts.googleapis.com/css?family=Monserrat:500');

    button {
        padding: 7px 20px;
        background-color: rgb(255, 136, 60);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    button:hover {
        background-color: rgb(253, 104, 1);
    }

    #profileedit {
        font-size: 12px;
        margin-top: 20px;
    }

    #feed-category {
        margin-top: 100px;
    }

    .content-container {
        display: flex;
        justify-content: center;
        margin-top: 100px;

    }
    .content-wrapper {
        border: #58bd87 3px solid;
        background-color: white;
        width: 800px;
        border-radius: 20px;
        padding: 30px 30px;

    }

    .profile {
        margin: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .profile img {
        margin-top: 20px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
        border: 8px solid transparent;
        background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, #aae3c6, #37a16e, #65d3ffaa);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }

    .user-feed, .bookmark-feed {
        display: flex;
        justify-content: center;
        margin: 0 150px;
    }


     .feed-img img {
         width: 123px;
         height: 200px;
         border-radius: 20px;
         object-fit: cover;
         overflow: hidden;
         box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
         /*margin-right: 15px;*/
         margin-bottom: 20px;
     }

    .user-feed-container h3 {
        color: #fd6801;
        text-align: center;
        text-decoration: underline;
        text-underline-position:under;
        margin: 50px 0;
    }

    #scrollTopPc {
      display: flex;
      position: fixed;
      bottom: 64px; /* 윗쪽 끝에서부터의 거리 */
      right: 35px; /* 오른쪽 끝에서부터의 거리 */
      cursor: pointer;
      z-index: 99;
    }

    #scrollTopMob {
        display: none;
    }

    h3 {
        color: #646464;
        font-size: 14px;
    }


    .grid-container img {
      width: 200px; /* need to overwrite inline dimensions */
      height: 200px;
        object-fit: cover;
        overflow: hidden;
      border-radius: 20px;
    }
    h2 {
      margin-bottom: .5em;
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 1em;
    }


    /* hover styles */
    .location-listing {
      position: relative;
    }

    .location-image {
      line-height: 0;
      width: 200px; /* need to overwrite inline dimensions */
      height: 200px;
      object-fit: cover;
      overflow: hidden;
    }

    .location-image img {
      filter: blur(0px);
      transition: filter 0.3s ease-in;
      transform: scale(1.1);
      border-radius: 20px;
      width: 200px; /* need to overwrite inline dimensions */
      height: 200px;
      object-fit: cover;
      overflow: hidden;
    }

    .location-title {
      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
      z-index: 1;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .5s;
      background: rgb(136, 180, 158);
      color: white;

      /* position the text in t’ middle*/
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .location-listing:hover .location-title {
      opacity: 1;
    }

    .location-listing:hover .location-image img {
      filter: blur(2px);
      border-radius: 20px;
    }


    /* for touch screen devices */
    @media (hover: none) {
      .location-title {
        opacity: 1;
      }
      .location-image img {
        filter: blur(2px);
        border-radius: 20px;
      }
    }



    footer {
        box-sizing: border-box;
        background-image: url('/static/img/footer.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

    }

    .m-nav-link {
        display: flex;
        justify-content: center;
    }
    .m-nav-link img {
        display: none;
    }

    .footer {
        display: none;
    }






