


.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

hr {
    width: 80%;
}

h2 {
    background-color: #4aba96;
    color: white;
}

p {
    color: #ffffff;
    border: #4aba96;
    background-color: #4aba96;
    margin-bottom: 50px;
}

.requiredField {
    color: #646464;
    margin-bottom: 50px;
}

input {
    width: 300px;
    height: 30px;
    border: #4aba96 2px solid;
    border-radius: 10px;
}

.btn.btn-primary {
    color: white;
}