
.card-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.card {
    width: 50vw;
    border: #a1a1a1 1px solid;
    border-radius: 30px;
    background-color: white;
    padding: 50px 80px;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
.file-edit-icon {
    margin-top: 50px;
}
.card-title {
    color: #fd6801;
}

.file-edit-icon {
    display: flex;
    justify-content: center;
}

.btn.btn-primary {
    font-size: 14px;
}

.form-group {
    display: flex;
    justify-content: center;
}

form {
    padding: 10px 0 0 0;
}

