
.card-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.card {
    width: 50vw;
    border: #cccccc 2px solid;
    border-radius: 30px;
    background-color: white;
    padding: 50px 80px;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: #58c790 5px solid;
}
.file-edit-icon {
    margin-top: 20px;
}
.card-title {
    color: #fd6801;
}


.file-edit-icon {
    display: flex;
}

.btn.btn-primary {
    font-size: 14px;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.form-group label {
    color: #4d4d4d;
    margin-right: 5px;
    margin-bottom: 20px;

}
.form-group input {
    padding: 10px 0 0 0;
    border: #a8a8a8 1px solid;
    border-radius: 5px;

}

#div_id_password {
    display: flex;
    flex-direction: column;
}

#div_id_password label {
    color: #fd6801;
    font-weight: bold;
}



.password a {
    color: #4aba96;
    font-weight: bold;
}


#id_password, #hint_id_password {
    color: #4d4d4d;
    margin-bottom: 10px;
}

#div_id_password {
    display: none;
}