

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
}

.logo img {
    width: 20%;
}

.category a{
    color: white;
    text-decoration: none;
}

.category a:hover{
    color: #fdd84c;
}

.sign button {
    border-radius: 20px;
}

.feed-header {
    display: flex;
    justify-content: center;
}

.seach-bar {

    display: flex;
    justify-content: center;
}



.form-inline {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 100px;
}

.seach-bar form {
    margin-bottom: 100px;
}

.alert.alert-info {
    margin-bottom: 100px;
}

.search-bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-row {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
}

.row {
    display: flex;
    margin: 0 100px;
}




.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #ff883c;
    border-color: #ff883c;
}
a {
    color: #fd6801;
    text-decoration: none;
    background-color: transparent;
}


.alert-info {
    color: #37b67d;
    background-color: #d4f3e1;
    border-color: #d4f3e1;
}

.btn-primary {
    color: #fff;
    background-color: #55c58a;
    border-color: #55c58a;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2da86a;
    border-color: #2da86a;
}
a:hover {
    color: #2da86a;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #2da86a;
    border-color: #2da86a;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(243, 199, 172, 0.66);
}




.col-4 {
    padding: 0;
    width: 1000px;
}
.card {
    margin-bottom: 50px;
    width: 300px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}


.card img {
    width: border-box;
    height: 300px;
    object-fit: cover;


}

.badge-secondary {
    color: #fff;
    background-color: #53c78a;
}

h5 {
    font-size: 12px;
}


.main {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.search {
  width: 300px;
  position: relative;
}
.search:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'FontAwesome';
  content: '\f002';
  background: #48c789;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
}

.searchTerm {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #48c789;
  padding: 10px;
  height: 40px;
  border-radius: 20px;
  outline: none;
}

.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}





.recommend-row-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommend-row {
    display: flex;
    flex-flow: row wrap;
}

.recommend-row .row {
    margin: 0 50px;
}

.recommend-row .col .alert-info {
    color: #fd6801;
    background-color: #fff0d2;
    border-color: #fff0d2;
}