<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <a href="{% url "feed:community" %}">커뮤니티 페이지로 이동</a> <br>
        {% if feed.user_id == user %}
            <a href="{% url "feed:delete_feed" feed_id=feed.id %}">
                <span>삭제</span>
            </a>
        {% endif %}
        <br>
        <p>제목 : {{ feed.title }}</p>
        <img src="{{ feed.image }}"
             alt="{{ feed.user_id.nickname }}">
        <p>내용 : {{ feed.content }}</p>
        <p>작성 시간 : {{ feed.created_at|date:"y-m-d" }}</p>
        <p>작성자 닉네임 : {{ feed.user_id.nickname }}</p>
        <p>좋아요 수 : {{ feed.like_count }}</p>
        <!-- 좋아요, 북마크 조건문 시작 -->
        {# 내가 좋아요한 피드면 #}
        {% if feed.my_likes %}
            {# 하트에 빨간표시! #}
            <a href="{% url "feed:undo_like" feed.id %}">
                <p>좋아요 취소</p>
            </a>
        {# 내가 좋아요한 피드가 아니면 #}
        {% else %}
            {# 그냥 하트 #}
            <a href="{% url "feed:do_like" feed.id %}">
                <p>좋아요</p>
            </a>
        {% endif %}
        {# 내가 북마크한 피드면 #}
        {% if feed.my_bookmark %}
            {# 체크된 북마크 #}
            <a href="{% url "feed:undo_bookmark" feed.id %}">
                <span>북마크 취소</span>
            </a>
        {# 내가 북마크한 피드가 아니면 #}
        {% else %}
            {# 그냥 북마크 #}
            <a href="{% url "feed:do_bookmark" feed.id %}">
                <span>북마크</span>
            </a>
        {% endif %}
        <!-- 좋아요, 북마크 조건문 끝 -->
        <br>
        <br>
        <!-- 코멘트 반복문 시작 -->
        <!-- for comment in feed.feed_comment.all 사용 가능-->
        {% for comment in comments %}
            <span>{{ comment.user_id.nickname }} : {{ comment.content }}</span>
            <span> - {{ comment.created_at | timesince }} 전</span>
            {% if comment.user_id == user %}
                <a href="{% url "feed:delete_comment" feed_id=feed.id comment_id=comment.id %}">
                    <span>삭제</span>
                </a>
            {% endif %}
            <br>
        {% endfor %}
        <!-- 코멘트 반복문 끝 -->
    </div>

    <form action="{% url "feed:create_comment" feed_id=feed.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="comment_content" id="comment_content">
        <button type="submit">작성하기</button>
    </form>
    {% if error %}
        <div role="alert">
            {{ error }}
        </div>
    {% endif %}
</body>
</html>