{% extends "indexbase.html" %}
{% load static %}
{% block title %}product detail{% endblock %}
{% block static %}
    <link href="/static/css/storedetail.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
{% endblock static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{{ product.image }}" width=100%/>
            </div>
            <div class="col">
                <h1 class="display-6">{{ product.name }}</h1>

                <p><span class="badge badge-secondary">Price</span> &#8361;{{ product.price }}</p>

                <form action="{% url 'cart:product_add' product.id %}" method="post">
                    {{ add_to_cart }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-sm" value="Add to Cart">
                </form>
                <h5><span class="badge badge-secondary">Description</span>{{ product.description|linebreaks }}</h5>
            </div>


            <div class="image_tag">
                <br>
                <br>
                <br>
                <br>
                <div style="text-align: center">
                    <img src="https://greendoorhope.s3.ap-northeast-2.amazonaws.com/img/profile_default.png"
                         width=100%/>
                </div>
                <br>
                <br>
                {% if product.image_tag %}
                    <div style="text-align: center">
                        {{ product.image_tag|safe }}
                    </div>
                {% endif %}
            </div>


        </div>
    </div>

{% endblock content %}
