<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/y/feedmodify.css.css" rel="stylesheet">
</head>
<body>
    <div class="write-contatiner">
        <div class="write-wrapper">
            <h1>수정하기</h1>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">제목</span><br>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-content">
                <span class="input-group-text" id="inputGroup-sizing-default">내용</span><br>
                <textarea id="content"></textarea>
            </div>
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile02">
            </div>
            <a class="modify" href=""><button>수정</button></a>
        </div>

    </div>

</body>
</html>