{% extends "indexbase.html" %}
{% load static %}
{% block title %}Mypage{% endblock %}
{% block static %}
    <script type="text/javascript">
        let UserProfileUpdateURL = "{% url "user:api_update_user_image" %}"
        let Headers = {'X-CSRFToken': '{{ csrf_token }}'}
    </script>
    <link rel="stylesheet" href="/static/css/profileedit.css">
{% endblock static %}

{% block content %}
    <div class="card-container">
        <div class="card mb-3">
            {# 이미지 미리보기 함수 이벤트 발생하면 user.image 안보이게 숨기기 #}
            <div class="profile">
                <img src="{{ user.image }}" class="card-img-top" id="user-image" alt="image">
                {# 미리보기 이미지 붙이는 곳 #}
                <div id="preview"></div>
            </div>

            <div class="file-edit-icon">
                <div class="card-body">
                    <h4 class="card-title">프로필 사진</h4>
                    {# 이미지 미리보기 함수 이벤트 발생 #}
                    <input type="file" name="file" id="file" class="upload-box upload-plus" accept="image/*">
                    {# user 이미지 변경 함수 - 비동기 통신 #}
                    <button class="btn btn-primary" onclick="update_image_api({{ user.id }})">수정</button>
                </div>
            </div>


            <h4 class="card-title" id="adress">배송지 필요 내용</h4>
            {% load crispy_forms_tags %}
            <form action="" method="POST">
                {% csrf_token %}
                <div>
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">수정</button>
                </div>
            </form>
            <div class="password">
                <h4 class="card-title">비밀번호 재설정</h4>
                <a href="https://grdr.net/password_reset/">여기</a>를 클릭하시면 비밀번호 재설정이 가능합니다.
            </div>
            <a href="{% url 'user:member_del' %}" onclick="return delchk();">
                {# 이렇게 코딩 할 경우 회원탈퇴 클릭시 먼저 실행 되는것이 onclick 이벤트입니다. 여기서 지정된 함수 호출 후 return delchk() 부분에서 delchk의 리턴값이 true면 href로 연결된 링크로 이동하고 false면 이동하지 않습니다.  #}
                <button id="member_del">회원탈퇴</button>
            </a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="/static/js/edit.js"></script>
{% endblock %}


