{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Greendoor{% endblock %}</title>
    <link href="/static/css/detailbase.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6bc056fb5e.js" crossorigin="anonymous"></script>
    <script defer src="/static/js/index.js"></script>
{% block static %}{% endblock static %}
</head>
<body>

<!--헤더 + 네비게이션 바-->
<nav class="navbar">
    <div class="logo">
        <img src="/static/img/textlogo_white.png">
    </div>
    <ul class="category">
        <li><a href="{% url 'product:product_all' %}">store</a></li>
        <li><a href="{% url 'feed:community' %}">community</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'user:user_my_page' user.id %}">mypage</a></li>
        {% else %}
            <li><a href="{% url 'user:sign-in' %}">mypage</a></li>
        {% endif %}
    </ul>
    <div class="sign">
    {% if user.is_authenticated %}
        <a class="sign" href="{% url 'user:logout' %}"><button>log out</button></a>
    {% else %}
        <a class="sign" href="{% url 'user:sign-in' %}"><button>log in</button></a>
    {% endif %}
    <a class="sign" href="https://kkitokki.notion.site/TEAM-2-GREENDOOR-ab1ba0cd030c459593795e17817e11e6"><button>feedback</button></a>
    </div>
{#    <a href="#" class="navbar-toggle">#}
{#        <i class="fa-solid fa-bars"></i>#}
{#    </a>#}
{#    <a href="#" class="navbar-logout">#}
{#        <i class="fa-solid fa-right-from-bracket"></i>#}
{#    </a>#}
</nav>
{% block content %}
{% endblock content %}
</body>
</html>