{% extends "indexbase.html" %}
{% load static %}
    {% block title %}Feed{% endblock %}
    {% block static %}
    <link href="/static/css/feeddetail.css" rel="stylesheet">
    <script type="text/javascript">
        const updateCommentURL = "{% url "feed:update_comment" %}";
        const likeApiURL = "{% url "feed:api_like" %}";
        const bookmarkApiURL = "{% url "feed:api_bookmark" %}";
        const csrf = "{{ csrf_token }}";
    </script>
    {% endblock static %}

<!-- feed -->
{% block content %}
    <div class="feed-container">
        <div class="feed">
        <img src="{{ feed.image }}">
        <h1 id="feed-title">{{ feed.title }}</h1>
        <div class="feed-user">
            <img id="userprofile" src="{{ feed.user_id.image }}"> <!-- 작성자 프로필사진-->
            <h5 id="username">{{ feed.user_id.username }} 님</h5>

        </div>
    <!-- 좋아요, 북마크 조건문 시작 -->
        <div class="feed-icon-default">
            <a href="javascript:void(0);" onclick="like_api({{ feed.id }})">
                {% if feed.my_likes %}
                    {# 내가 좋아요한 피드면 #}
                    <img id="like" src="/static/img/heart_filled.png">
                {% else %}
                    {# 내가 좋아요 안한 피드면 #}
                    <img id="like" src="/static/img/heart.png">
                {% endif %}
            </a>
            <a href="javascript:void(0);" onclick="bookmark_api({{ feed.id }})">
                {% if feed.my_bookmark %}
                    {# 내가 북마크한 피드면 #}
                    <img id="scrap" src="/static/img/bookmark_filled.png">
                {% else %}
                    {# 내가 북마크 안한 피드면 #}
                    <img id="scrap" src="/static/img/bookmark.png">
                {% endif %}
            </a>
        </div>

        {% if feed.user_id == user %}
        <div class="feed-icon">
            <a href="{% url "feed:update_feed" feed_id=feed.id %}"><button>수정</button></a>
            <a href="{% url "feed:delete_feed" feed_id=feed.id %}"><button>삭제</button></a>
        </div>
        {% endif %}
        <div class="contents">
            <h5 id="date">{{ feed.created_at|date:"y-m-d" }}</h5>
            <h5 id="view">조회수 : {{ feed.views }}</h5>
            <h5 id="like_count">{{ feed.like_count }}명이 좋아합니다</h5>
        </div>
        <div id="feed-txt">
            <label>
                <textarea class="txtarea" name="feed_content" rows="20" cols="50" maxlength="1000" readonly disabled>{{ feed.content }}</textarea>
            </label>
        </div>
        <div class="comment">
            <h3>댓글</h3>
            <!-- 코멘트 반복문 시작 -->
            <!-- for comment in feed.feed_comment.all 사용 가능-->
            {% for comment in comments %}
            <div class="commentview">
                <div class="comment-user">
                   <img id="commentuserprofile" src="{{ comment.user_id.image }}">
                    <h5 id="userid">{{ comment.user_id.username }} 님</h5>
                </div>
                <div class="commentuser">
                    <h5 id="comment-date"> - {{ comment.created_at }}</h5>
                    <input id="comment_{{ comment.id }}_input" type="text" value="{{ comment.content }} "
                           readonly required size="100" maxlength="100">
{#                    <h5 id="comment">comment</h5>#}
                </div>
            </div>
            <div class="commenticon">
                {% if comment.user_id == user %}
                    <a href="#comment_{{ comment.id }}_input" id="comment_update_{{ comment.id }}"
                       onclick="update_comment({{ comment.id }})">
                        <button>수정</button>
                    </a>
                    <a href="#comment_{{ comment.id }}_input" id="comment_update_api_{{ comment.id }}"
                       onclick="update_comment_api({{ comment.id }})" style="display: none">
                        <button>전송</button>
                    </a>
                    <a href="{% url "feed:delete_comment" feed_id=feed.id comment_id=comment.id %}">
                        <button>삭제</button>
                    </a>
                {% endif %}
            </div>
            {% endfor %}
            <!-- 코멘트 반복문 끝 -->
            <div class="commentwrite">
                <!-- 코멘트 input -->
            <form action="{% url "feed:create_comment" feed_id=feed.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="comment_content" id="comment" required size="100" maxlength="100" >
                <button type="submit">등록</button>
            </form>
            <!-- 코멘트 input 끝 -->
            </div>
        </div>
    </div>
    </div>
<!--footer-->
    <footer>
        <div class="footer">
            <h4>Website created with Team 4-tune</h4>
        </div>
        <div class="m-nav-link">
            <a href="#heart-icon" onclick="like_api({{ feed.id }})">
                {% if feed.my_likes %}
                    {# 내가 좋아요한 피드면 #}
                    <i class="fi fi-sr-heart" id="heart-icon"></i>
                {% else %}
                    {# 내가 좋아요 안한 피드면 #}
                    <i class="fi fi-rr-heart" id="heart-icon"></i>
                {% endif %}
            </a>
            <a href="#bookmark-icon" onclick="bookmark_api({{ feed.id }})">
                {% if feed.my_bookmark %}
                    {# 내가 북마크한 피드면 #}
                    <i class="fi fi-sr-bookmark" id="bookmark-icon"></i>
                {% else %}
                    {# 내가 북마크 안한 피드면 #}
                    <i class="fi fi-rr-bookmark" id="bookmark-icon"></i>
                {% endif %}
            </a>
        </div>
    </footer>
<script defer src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script defer type="text/javascript" src="/static/js/feeddetail.js"></script>
{% endblock content %}
