{% extends "detailbase.html" %}
{% load static %}
{% block title %}Feed Write{% endblock %}
{% block static %}
    <link href="/static/css/feedwrite.css" rel="stylesheet">
{% endblock static %}

{% block content %}
    <div class="write-container">
    <h2>게시글 작성</h2>
        <div class="write-form">
{#            <a href="{% url "feed:community" %}">커뮤니티 페이지로 이동</a> <br>#}
            <form action="{% url "feed:create_feed" %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <!--피드 이미지-->
                    <h5>사진 선택</h5>
                    <input type="file" name="feed_img_file" id="feed_img_file" accept="image/*" required> <br>
                    <img id="previewImage" src="/static/img/file_uploading.png"> <br>
                    <!--피드 제목-->
                    <h5>제목</h5>
                    <input type="text" name="feed_title" id="feed_title" size="50" maxlength="100" required> <br>
                    <!--피드 내용-->
                    <h5>내용</h5>
                    <textarea name="feed_content" id="feed_content" rows="20" cols="50" maxlength="1000"></textarea>
                </div>
                <button type="submit">작성하기</button>
            </form>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </div>
    <script defer type="text/javascript">
        /**
         * 단일파일 업로드
         */
        function readImage(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = (e) => {
                    const previewImage = document.getElementById('previewImage');
                    previewImage.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function clickCommitBtn() {
            alert("feed commit")
        }

        // 이벤트 리스너
        document.getElementById('feed_img_file').addEventListener('change', (e) => {
            readImage(e.target);
        })
        document.getElementById('feed_commit').addEventListener('click', clickCommitBtn);
    </script>
{% endblock content %}
