{% extends "indexbase.html" %}
{#{% block extrahead %}#}
    {% load static %}
    <link href="{% static 'css/feedindex.css' %}" rel="stylesheet" type="text/css">
{#    {% endblock %}#}
    {% block content %}
    <!-- 피드 상단 이미지 -->
    <div class="feed-header">
        <img src="{% static 'img/main.png' %}">
    </div>
    {% if popular_feeds %}
    <div class="popular-feed">
        <div id="feed-category">
            <h3>· 인기피드 ·</h3>
        </div>
        {% for feed in popular_feeds %}
        <div class="feed-img">
              <div class="grid-container">
                <article id="3685" class="location-listing">
                  <a class="location-title" href="{% url 'feed:feed' feed.id %}">{{ feed.title }}</a>
                  <div class="location-image">
                    <a href="{% url 'feed:feed' feed.id %}"><img width="200" height="200" src="{{ feed.image }}"></a>
                  </div>
                </article>
              </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="new-feed">
        <div id="feed-category">
            <h3>· 최신피드 ·</h3>
        </div>
        {% for feed in all_feed %}
        <div class="feed-img">
          <div class="grid-container">
            <article id="3685" class="location-listing">
              <a class="location-title" href={% url "feed:feed" feed.id %}">{{ feed.title }}</a>
              <div class="location-image"><a href="{% url "feed:feed" feed.id %}"><img width="200" height="200" src="{{ feed.image }}"></a></div>
            </article>
         </div>
        </div>
    </div>
        {% endfor %}
    <!-- PC 글쓰기 버튼 -->
    <div onclick="" id="scrollTopPc">
        <a href="{% url 'feed:create_feed' %}"><img src="{% static 'img/write.png' %}" width="50px" height="50px"></a>
    </div>
    <!-- 모바일 글쓰기 버튼 -->
    <div onclick="" id="scrollTopMob">
        <a href="{% url 'feed:create_feed' %}"><img src="{% static 'img/write.png' %}" width="50px" height="50px"></a>
    </div>
{% endblock content %}
