<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link href="../static/css/feedindex.css" rel="stylesheet">
</head>
<body>
<!--헤더 + 네비게이션 바-->
    <header>
        <div class="header">
            <img class="logo" src="../static/img/textlogo_white.png">
            <nav>
                <ul class="nav-link">
                    <li><a href="">store</a></li>
                    <li><a href="">order</a></li>
                    <li><a href="">mypage</a></li>
                </ul>
                <div class="m-nave-link">
                    <a href=""><img src="../static/img/list_white.png"></a>
                    <a href=""><img src="../static/img/order_white.png"></a>
                    <a href=""><img src="../static/img/profile_white.png"></a>
                </div>
            </nav>
            <a class="sign" href=""><button>log in</button></a>
        </div>
    </header>
    <!-- 피드 상단 이미지 -->
    <div class="feed-header">
        <img src="../static/img/plant-png-hd.png">
        <div class="feed-header-text">
            <h3>플랜테리어</h3>
            <h3>어떻게 활용하면</h3>
            <h3>좋을까</h3>
            <button><a href="">자세히보기</a></button>
        </div>
    </div>
    <div class="popular-feed">
        <div id="feed-category">
            <h3>· 인기피드 ·</h3>
        </div>
        <div class="feed-img">
            <figure class="feed-img">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample83" />
              <figcaption>
                <h3>Fleece Marigold</h3>
                <p>Which is worse, that everyone has his price, or that the price is always so low.</p><i class="ion-ios-arrow-right"></i>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="feed-img">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample83" />
              <figcaption>
                <h3>Fleece Marigold</h3>
                <p>Which is worse, that everyone has his price, or that the price is always so low.</p><i class="ion-ios-arrow-right"></i>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="feed-img">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample83" />
              <figcaption>
                <h3>Fleece Marigold</h3>
                <p>Which is worse, that everyone has his price, or that the price is always so low.</p><i class="ion-ios-arrow-right"></i>
              </figcaption>
              <a href="#"></a>
            </figure>
        </div>
    </div>
    <div class="new-feed">
        <div id="feed-category">
            <h3>· 최신피드 ·</h3>
        </div>
        <div class="feed-img">
            <figure class="feed-img">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample83" />
              <figcaption>
                <h3>Fleece Marigold</h3>
                <p>Which is worse, that everyone has his price, or that the price is always so low.</p><i class="ion-ios-arrow-right"></i>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="feed-img">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample83" />
              <figcaption>
                <h3>Fleece Marigold</h3>
                <p>Which is worse, that everyone has his price, or that the price is always so low.</p><i class="ion-ios-arrow-right"></i>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="feed-img">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample83" />
              <figcaption>
                <h3>Fleece Marigold</h3>
                <p>Which is worse, that everyone has his price, or that the price is always so low.</p><i class="ion-ios-arrow-right"></i>
              </figcaption>
              <a href="#"></a>
            </figure>
        </div>

    </div>




</body>
</html>