{% load static %}
<head>
    <meta charset="UTF-8">
    <title>커뮤니티</title>
      <link href="{% static 'css/index.css' %}" rel="stylesheet">
      <script defer src="{% static 'js/index.js' %}"></script>
{% block static %}{% endblock static %}
</head>
<body>
{% block content %}
<!--헤더 + 네비게이션 바-->
    <header>
        <div class="header">
            <img class="logo" src="{% static 'img/textlogo_white.png' %}">
            <nav>
                <ul class="nav-link">
{#                    <li><a href="{% url '' %}">store</a></li>#}
{#                    <li><a href="{% url '' %}">order</a></li>#}
                    <li><a href="{% url 'user:user_my_page' user.id %}">mypage</a></li>
                </ul>
{#                <div class="m-nav-link">#}
{#                    <a id="list" href="{% url '' %}"><img src="{% static 'img/list_white.png' %}"></a>#}
{#                    <a href="{% url '' %}"><img src="{% static 'img/order_white.png' %}"></a>#}
{#                    <a href="{% url '' %}"><img src="{% static 'img/profile_white.png' %}"></a>#}
{#                </div>#}
{#                <div class="m-nav-menu">#}
{#                    <li><a href="{% url '' %}">store</a></li>#}
{#                    <li><a href="{% url '' %}">order</a></li>#}
{#                    <li><a href="{% url '' %}">mypage</a></li>#}
{#                </div>#}
            </nav>
{#            <a class="sign" href="{% url '' %}"><button>log in</button></a>#}
        </div>
    </header>