{% extends 'indexbase.html' %}
{% load static %}

{% block title %}Community{% endblock %}
{% block static %}
    <link href="/static/css/feedindex.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <!-- 피드 상단 이미지 -->
    <div class="feed-header">
        <a href="{% url 'info:info' %}"><img src="/static/img/main.png"></a>
    </div>

    <div class="search-bar">
        <div id="cover">
            <form action="{% url 'search:feed_searchResult' %}" method="get">
                <div class="tb"></div>
                <div class="td"><input class="search-input" type="text" name="kw" placeholder="검색어를 입력하세요."
                                       required="required"></div>
                <div class="td" id="s-cover">
                    <button type="submit">
                        <div id="s-circle"></div>
                        <span></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="search-img">
        <div class="search-feed-img">
            {% for search_feed in search_feeds %}
            <a href="{% url 'feed:feed' search_feed.id %}"><img src="{{ search_feed.image }}"></a>
            {% endfor %}
        </div>
    </div>

    <div class="feed-container">
    <h3>인기 피드</h3>
        <div class="popular-feed">
            <div class="feed-img">
                {% for feed in popular_feeds %}
                <a href="{% url 'feed:feed' feed.id %}"><img src="{{ feed.image }}"></a>
                {% endfor %}
            </div>
        </div>
    <h3>최신 피드</h3>
        <div class="new-feed">
            <div class="feed-img">
                {% for feed in all_feed %}
                <a href="{% url 'feed:feed' feed.id %}"><img src="{{ feed.image }}"></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- PC 글쓰기 버튼 -->
    <div onclick="" id="scrollTopPc">
        <a href="{% url 'feed:create_feed' %}"><img src="/static/img/write.png" width="50px" height="50px"></a>
    </div>
    <!-- 모바일 글쓰기 버튼 -->
    <div onclick="" id="scrollTopMob">
        <a href="{% url 'feed:create_feed' %}"><img src="/static/img/write.png" width="50px" height="50px"></a>
    </div>
{% endblock content %}