{% extends "indexbase.html" %}
{% load static %}
{% load socialaccount %}

    {% block title %}Login{% endblock %}
    {% block static %}
    <link href="/static/css/sign.css" rel="stylesheet">
    <link href="http://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    {% endblock static %}

    {% block content %}
    <img src="/static/img/empty.png">
    <div class="container">
      <div class="overlay" id="overlay">
        <div class="sign-in" id="sign-in">
          <h1>Welcome Back!</h1>
          <p>이미 가입하셨나요? <br><br>로그인하고 지금 바로 <br><br>그린도어 서비스를<br><br>이용해보세요.</p>
          <button class="switch-button" id="slide-right-button">로그인하기</button>
        </div>
        <div class="sign-up" id="sign-up">
          <h1>Welcome!</h1>
          <p>아직 가입안하셨나요?<br><br>가입하고 지금 바로<br><br>그린도어 서비스를<br><br>이용해보세요.</p>
          <button class="switch-button" id="slide-left-button">가입하기</button>
        </div>
      </div>
      <div class="form">
      {% csrf_token %}
        <div class="sign-in" id="sign-in-info">
          <h1>Sign In</h1>
          <div class="social-media-buttons">
{#            <div class="icon">#}
{#              <a href="{% provider_login_url 'google' %}">#}
{#                <img src="/static/img/google.png">#}
{#              </a>#}
{#            </div>#}
            <div class="icon">
              <a href="{% provider_login_url 'kakao' %}">
                <img src="/static/img/kakaotalk.png">
              </a>
            </div>
          </div>
          <p class="small">or use your email account:</p>
          <form id="sign-in-form" method="post" action="{% url "user:sign-in" %}">
            {% csrf_token %}
            <input type="email" placeholder="Email" name="email"/>
            <input type="password" placeholder="Password" name="password"/>
            <p class="forgot-password"><a class="forgot-password" href="{% url 'password_reset' %}">비밀번호를 잊으셨나요?</a></p>
            <button class="control-button in" type="submit">Sign In</button>
          </form>
        </div>
        <div class="sign-up" id="sign-up-info">
          <h1>Create Account</h1>
          <div class="social-media-buttons">
{#            <div class="icon">#}
{#              <a href="{% provider_login_url 'google' %}">#}
{#                <img src="/static/img/google.png">#}
{#              </a>#}
{#            </div>#}
            <div class="icon">
              <a href="{% provider_login_url 'kakao' %}">
                <img src="/static/img/kakaotalk.png">
              </a>
            </div>
          </div>
          <p class="small">or use your email for registration:</p>
           <form id="sign-up-form" method="post" action="{% url "user:sign-up" %}">
            {% csrf_token %}
            <input type="text" placeholder="NickName" name="nickname">
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <input type="password" placeholder="Verify Password" name="password2">
            {% if error %}
                <p class="small" style="color: darkred">{{ error }}</p>
            {% elif msg %}
                <p class="small" style="color: olivedrab">{{ msg }}</p>
            {% endif %}
            <button type="submit" class="control-button up">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

<script type="text/javascript" src="/static/js/signin.js"></script>
{% endblock content %}