{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/storeindex.css" rel="stylesheet">
    <script defer src="../static/js/base.js"></script>
{% block static %}{% endblock static %}
</head>
<body>
{% block content %}
<!--헤더 + 네비게이션 바-->
    <header>
        <div class="header">
            <img class="logo" src="{% static 'img/textlogo_white.png' %}">
            <nav>
                <ul class="nav-link">
                    <li><a href="{% url '' %}">store</a></li>
                    <li><a href="{% url '' %}">order</a></li>
                    <li><a href="{% url '' %}">mypage</a></li>
                </ul>
                <div class="m-nav-link">
                    <a id="list" href="{% url '' %}"><img src="{% static 'img/list_white.png' %}"></a>
                    <a href="{% url '' %}"><img src="{% static 'img/order_white.png' %}"></a>
                    <a href="{% url '' %}"><img src="{% static 'img/profile_white.png' %}"></a>
                </div>
                <div class="m-nav-menu">
                    <li><a href="{% url '' %}">store</a></li>
                    <li><a href="{% url '' %}">order</a></li>
                    <li><a href="{% url '' %}">mypage</a></li>
                </div>
            </nav>
            <a class="sign" href="{% url '' %}"><button>log in</button></a>
        </div>
    </header>
    <!-- 피드 상단 이미지 -->
    <div class="feed-header">
        <a href="{% url '' %}"><img src="{% static 'img/storemain.png' %}"></a>
        <!-- <div class="feed-header-text">
            <h3>인기상품을 만나보세요</h3>
            <button><a href="">자세히보기</a></button>
        </div> -->
    </div>
    <div class="product-container">
        <div class="product-wrapper">
          <h3>추천상품</h3>
            <div class="recommend-product">
                <figure class="feed-img">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample83" />
                  <figcaption>
                    <h3>Fleece Marigold</h3>
                    <p>Which is worse, that everyone has his price, or that the price is always so low.</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="{% url '' %}"></a>
                </figure>
                <figure class="feed-img">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample83" />
                  <figcaption>
                    <h3>Fleece Marigold</h3>
                    <p>Which is worse, that everyone has his price, or that the price is always so low.</p><i class="ion-ios-arrow-right"></i>
                  </figcaption>
                  <a href="{% url '' %}"></a>
                </figure>
            </div>
            <div class="product-category">
                <div id="product-plant">
                    <h3>식물</h3>
                    <figure class="feed-img">
                      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample83" />
                      <figcaption>
                        <h3>Fleece Marigold</h3>
                        <p>Which is worse, that everyone has his price, or that the price is always so low.</p><i class="ion-ios-arrow-right"></i>
                      </figcaption>
                      <a href="{% url '' %}"></a>
                    </figure>
                </div>
                <div id="product-interior">
                    <h3>인테리어</h3>
                    <figure class="feed-img">
                      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample83" />
                      <figcaption>
                        <h3>Fleece Marigold</h3>
                        <p>Which is worse, that everyone has his price, or that the price is always so low.</p><i class="ion-ios-arrow-right"></i>
                      </figcaption>
                      <a href="{% url '' %}"></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</body>
</html>